<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="row">
    <div class="navbar-header col-sm-4 col-md-4 col-lg-4">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <ul class="nav nav-pills pull-right col-sm-6 col-md-6 col-lg-6">
      <li ui-sref-active="active"><a class="btn-primary" ui-sref="home">Products</a></li>
      <li ui-sref-active="active"><a ui-sref="home.list" class="btn btn-info">List</a></li>
      <li ui-sref-active="active"><a class="btn-primary" ui-sref="about">About</a></li>
      <li ui-sref-active="active"><a class="btn-primary">Login</a></li>
      <li ui-sref-active="active"><a class="btn-danger">Logout</a></li>
    </ul>
    </div>
  </div>
</nav>